streamlit
python-dotenv
ipykernel
pyPDF
bs4
arxiv
fitz
PyMuPDF 
wikipedia
sentence-transformers
fastapi
uvicorn
sse_starlette
hf_xet
huggingface-hub
cassio
datasets
tiktoken
openai
PyPDF2
gradio

duckduckgo-search
chromadb
faiss-cpu

langchain
langchain-community
langchain-openai
langchain-ollama
langchain-huggingface
langchain-chroma
langchain-groq
langserve
langgraph >= 0.2.28

exceptiongroup==1.2.2